*{
  border: 2px solid red;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  margin-bottom: 100px;
  background-color: #f2f2f2;
  align-items: center;
  position: relative;
  display: flex;
}

.header__logo{
  width: 183px;
  height: 32px;
  background-image: url(../images/logo_place_header.svg);
  background-size: cover;
}

.header__logo_place_header{
  position: absolute;
  top: 30px;
  left:64px;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.header__square-pic{
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.header__square-pic{
  position: absolute;
  top: 64px;
  right: 0;
  }

.header__main-illustration{ 
  width: 765px;
  height: 608px;

}

.header__main-illustration_position{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__title{
  margin: 0;
  padding: 0;
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
}

.header__title_position{
margin-left: 64px;

}

.header__subtitle{
  margin: 0;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__subtitle_position{
  position: absolute;
  bottom: 30px;
  left: 64px;
}
.header__link{
  text-decoration: none;
  color: #2f80ed;
}

.description{
 
}

.two-columns{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief{
  width: 175px;
  margin: 0;
  font-style: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text{
  width: 80%;
  min-width: 724px;
  list-style: none;
  margin: 0;
}

.two-columns__paragraph{
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}
.two-columns__paragraph_space-after{
  margin-bottom: 30px;
}

.two-columns__span-accent{
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
}

/*.digits{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}*/

.section-title{
  margin: 0;
  width: 60%;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
}

.section-title_position_center{
  margin: 100px auto 20px ;
  text-align: center;
}

.section-subtitle{
  margin: 0;
  width: 60%;
  font-size: 24px;
  line-height: 34;
  font-weight: bold;
}

.section-subtitle_position_center{
  margin: 0 auto;
  text-align: center;
}

.table{
width: 1100px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

