.khan__buy-link{
  text-decoration: none;
  height: 42px;
  color: #2f80ed;
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  margin-left: 48px;
  transition: opacity 0.3s ease-in;
}

.khan__buy-link:hover{
  opacity: 60%;
}
